@model SuperFarmer.Models.Game

<h2>Tura: @Model.CurrentRound</h2>
<h3>Kolej gracza: @Model.CurrentPlayer.Index</h3>

@if (Model.LastRoll != null)
{
<p><strong>Wylosowane zwierzeta:</strong> @Model.LastRoll.Value.Item1 i @Model.LastRoll.Value.Item2</p>
}


<h4>Twoje zwierzęta:</h4>

<table class="table table-bordered table-striped w-100">
    <thead class="table-dark">
    <tr>
        <th style="width: 30%">Zwierzę</th>
        <th style="width: 30%">Ilość</th>
        <th style="width: 40%">Akcje</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var animal in Model.CurrentPlayer.Animals)
    {
    <tr>
        <td>@animal.Key</td>
        <td>@animal.Value</td>
        <td>
            @if (!Model.DiceRolledThisTurn)
            {
            <form asp-action="ShowExchangeOptions" method="get" style="display:inline;">
                <input type="hidden" name="animal" value="@animal.Key" />
                <button class="btn btn-sm btn-primary">Wymień</button>
            </form>
            }
            else
            {
            <span class="text-muted">Nie mozesz zrobic zadnej akcji</span>
            }
        </td>

    </tr>
    }
    </tbody>
</table>



@if (!Model.DiceRolledThisTurn)
{
    <form asp-action="RollDice" method="post">
        <button type="submit">🎲 Roll</button>
    </form>
}



@if (Model.DiceRolledThisTurn)
{
    <form asp-action="NextTurn" method="post">
        <button type="submit">Next player</button>
    </form>
}
